
<div class='main'>
  <div class='image-area'>
    <h2 class='service-title'>
     My movies collection
    </h2>
    <p class='service-explain'>
      自分が観た映画について気軽に投稿して
    </p>
    <p class='service-explain'>
      自分だけのコレクションを楽しもう！
    </p>
  </div>
  <div class="main">
    <div class="index__inner">
      <%if user_signed_in? %>
      <div class="greeting"> 
          <%= "Hello" %>
          <%= link_to "#{current_user.nickname}","/users/#{current_user.id}" , class: :greeting__link%>
      </div> 
      <% end %>
      <div class="card__wrapper">
        <%= render partial: 'movie', collection: @movies %>
      </div>
    </div>
  </div>
</div>  
