<div class="main">
    <div class="collection-heading">
        <link href="https://fonts.googleapis.com/css?family=Corben:700" rel="stylesheet">
        <%= "#{@user.nickname}'s  collection" %>
    </div>
    <div class="index__inner">
     
      <div class="show__card__wrapper">
        <%= render partial: "movies/movie", collection: @user.movies %>
      </div>
    </div>
    
    
</div>    
    
    
    
    
    
    
    
    
    
  
  
  
  
  
  
  
  
  
  
  
  
  
