<div class="main">
  <div class="collection-inner">
    
      <div class="collection-heading">
        <%= "#{@user.nickname}'s movies collection" %>
      </div>
      
    
  </div>
</div>
<div class="main">
    <div class="index__inner">
     
      <div class="card__wrapper">
        <%= render partial: "movies/movie", collection: @user.movies %>
      </div>
    </div>
</div>    
      
    
    
    
    
    
    
    
    
  
  
  
  
  
  
  
  
  
  
  
  
  
