
  

　<div class="main">
    <div class="index__inner">
      <div class="card__wrapper">
        <%= render partial: "rooms/room", collection: @rooms %>
      </div>
    </div>
    
    
    <%#link_to "make room", new_room_path %>
  </div>
