/* border-bottom: 1px solid #eee; */


.rooms-contents {
  background-color: #f5f5f5;
  font-family: "Source Sans Pro", Helvetica, Arial, "æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“", "YuGothic", "ãƒ¡ã‚¤ãƒªã‚ª", "Meiryo", sans-serif;
  font-size: 14px;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 500px;
}

.rooms-header {
  padding: 5vh 0;
  text-align: center;
}

.rooms-main {
  
  background-color: #aaa;
  width: 70vw;
  min-width: 450px;
  padding: 10vh 15vw;
}

.rooms-title {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}








/* 共通 */
.indispensable {
  background: #ea352d;
  margin-left: 8px;
  padding: 3px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  
}

.weight-bold-text {
  font-weight: bold;
  min-width: 170px;
  margin-bottom: 10px;
  
}


.select-box {
  height: 30px;
  width: 100%;
  background-color: #f5f5f5;
  padding-left: 20px;
}





/* /共通 */

/* 映画画像 */
.img-upload {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2vh 0;
}

.click-upload {
  margin: 15px 0;
  min-width: 250px;
}

.click-upload>p {
  margin-bottom: 15px;
}



/* 映画情報 */
.new-rooms {
  padding: 2vh 0;
}

.rooms-text {
  width: 100%;
  
  padding: 16px 16px 8px;
  border-radius: 4px;
  
  resize: none;
}

.rooms-explain {
  width: 100%;
  padding: 16px 16px 8px;
  border-radius: 4px;
  
  font-size: 16px;
  resize: none;
}

/* 映画情報 */

/* 映画詳細 */
.movies-detail {
  /*display: flex;*/
  /*justify-content: space-between;*/
  padding: 2vh 0;
}

.rooms-detail>.form {
  width: 300px;
  padding: 2vh 0;
}

.select-box {
  margin: 2vh 0;
}

/* 映画音楽 */


.film-music-title {
  font-weight: bold;
  min-width: 170px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}




.film-music-text {
  width: 50%;
  height: 30px;
  border: 1px solid #ccc;
  font-size: 16px;
  resize: none;
}




.sentence>a {
  color: #0099e8;
  text-decoration: none;
}


/* /注意書き */

/* 下部ボタン */
.rooms-up-btn-contents {
  width: 100%;
  text-align: center;
}

.rooms-up-btn {
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
  width: 70%;
  height: 50px;
  font-size: 18px;
  margin-bottom: 4vh;
}

.back-btn {
  background: #aaa;
  border: 1px solid #aaa;
  color: #fff;
  padding: 15px 25%;
  text-decoration: none;
}

/* /下部ボタン */

.rooms-footer {
  background-color: #f5f5f5;
  width: 60vw;
  padding: 3ch 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.rooms-footer>.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 3vh 0;
}

.menu>li>a {
  color: black;
  font-size: 12px;
  margin: 2vw;
}

.inc {
  font-size: 13px;
}