/* リセットCSS */
* {
  box-sizing: border-box;
}

html,
body,
ul,
li,
h1,
h2,
p,
div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN W3", sans-serif;
  color: #3b4043;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: #3b4043;
}

/* ヘッダー */

.header {
  background-color: #3b4043;
  margin-bottom: 0px;
  padding: 0px 0;

}
.index__inner {
  width: 1024px;
  margin: 0 auto;
}
.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-right: 10%;
}
.logo {
  width: 200px;
  height: 70px;
  margin-top: 15px;
  object-fit: contain;
}
.nav__btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color:#fafbfc;
  text-decoration: none;
  user-select: none;
  border: 1px #fafbfc solid;
  border-radius: 3px;
  transition: 0.4s ease;
  margin-top: 20%;
}
.nav__btn:hover{
  color: #fff;
  background: #a5d1ec;
}
.nav__right {
  padding-bottom: 20px;

}

.nav__logout{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #87CEFA;
  text-decoration: none;
  user-select: none;
}
.nav__logout:hover{
  opacity: 0.5;
}

/* フォーム周り */
.form__wrapper{
  min-height: calc(100vh - 161px);
}

.form__text {
  width: 50%;
}

.field{
  margin: 10px 0;
}

.actions{
  margin-bottom: 40px;
}

.form__btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #fff;
  text-decoration: none;
  user-select: none;
  background: #87CEFA;
  border: 1px #87CEFA solid;
  border-radius: 3px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  transition: 0.2s ease;
}

.form__btn:hover {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
}
.main {
  background: #f8f8f8;
}             

/*帯*/
.image-area {
  width: 100vw;
  height: 310px;
  background: url('unnamed.jpg')!important;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 15vh 15vw;
  color: #fff;
  text-shadow: 0 0 10px rgba(0, 0, 0, 2);
}

.service-title {
  font-size: 8vh;
  
}

.service-explain {
  font-size: 2.5vh;
  line-height: 40px;
}









/* メイン */
.inner {
  

}

.greeting{
  margin-top: 20px;
}
.greeting__link{
  text-decoration: underline;
}
.page-heading {
  font-size: 30px;
  margin-bottom: 28px;
  padding-left: 10%;
}
.card__body {
  padding-left: 20px;
  margin-bottom: 20px;


}
.card__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  min-height: calc(100vh - 161px);
  margin-top: 20px;
  
}
.card {
  width: calc((100% - 50px) / 4);
 
  
}
.card__img {
  margin-bottom: 16px;
  object-fit: contain;
  height: 250px;
  width: 250px;
}
.card__title {
  display: block;
  font-size: 20px;
  margin-bottom: 8px;
  font-weight: bold;
}
.card__summary {
  font-size: 12px;
}
.card__user {
  display: block;
  font-size: 12px;
  color: #999;
  text-align: right;
  text-decoration: underline;
  padding-right: 16px;
}

/* 詳細ページ */
.inner {
  display: flex;
  justify-content: start;
}

.movie__left__wrapper {
  min-height: calc(100vh - 161px);
  width: 40%;
  padding-top: 20px;
  margin-right: 20px;
  display: flex;
  justify-content: space-between;
  
}
.movie__info {
  min-height: calc(100vh - 161px);
  width: 80vh;
  padding-top: 30px;
  
  text-align: center;
}


.image__cover {
  height: 750px;
  border-bottom: 2px solid #f5f5f5;
  width: 100%;
  text-align: center;
  padding-left: 30%;

}
.movie__image {
  object-fit: contain;
  height: 300px;
  width: 300px;
  text-align: center;
  margin-top: 10px;
}
.movie__hedding {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
  text-decoration-line: underline;
  
}
.movie__list {
  width: 100%;
  height: 30%;
  text-align: center;
}
.list__name {
  width: 100%;
  height: 30px;
  font-size: 16px;
  border-bottom: 1px solid #f5f5f5;

}
  
.movie__detail {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 8px;
}
.movie__title {
  font-size: 20px;
  font-weight: bold;
}

.scene__tab {
  border: 1px #3b4043 solid;
  background-color: #3b4043;
  color: #f8f8f8;
  font-size: 16px;
  
}
.favorite-scene {
  display: flex;
  
  justify-content: space-around;
  padding-bottom: 10px;
 

}
.scene__memory {
  font-size: 14px;
  width: 100%;
  text-align: left;
  height: 50px;
  padding: 5px ;
  border-radius: 4px;
  border: #3b4043 1px solid;
}
.movie-scene {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 10px;

}

.movie-music {
  display: flex;
  
  justify-content: space-around;

}
.music__memory {
  font-size: 16px;
  width: 100%;
  text-align: center;
  padding: 5px ;
  border-radius: 4px;
  height: 50px;
  border: #3b4043 1px solid;
}
.memorandum-text {
  width: 100%;
  height: 150px;
  text-align: left;
  border: #3b4043 1px solid;
  font-size: 14px;
  border-radius: 8px;
}


.movie__user{
  display: block;
  font-size: 16px;
  color: #999;
  text-align: center;
  text-decoration: underline;
}








.movie__manage {
  display: flex;
  justify-content: center;
  padding-top: 16px;
}
.movie__btn {
  display: block;
  padding: 0.4em 1.6em;
  font-size: 0.4em;
  color: #999;
  text-decoration: none;
  user-select: none;
  border: 1px #999 solid;
  border-radius: 3px;
  transition: 0.4s ease;
  margin: 0 4px;
}
.movie__btn:hover {
  color: #fff;
  background: #999;
}

.movie__comments {
  background-color: #f6f6f6;
  padding: 20px;
  margin: 28px 0 40px 0;
}

.comments_lists {
  padding-left: 20px;
}

.comments_list {
  list-style-type: square;
  padding-bottom: 5px;
}

.comment_user {
  font-size: 16px;
  color: #999;
  text-decoration: underline;
}



/* タブレット対応 */
@media (max-width: 1024px) {
  .inner {
    width: 90%;
    margin: 0 auto;
  }
  .page-heading {
    font-size: 24px;
  }
  .card {
    width: 48%;
    margin-bottom: 40px;
  }
  .prototype_image{
    width: 60%;
  }
}

 /* スマホ表示 */
@media (max-width: 599px) {
  .logo {
    width: 120px;
  }
  .page-heading {
    font-size: 20px;
  }
  .card {
    width: 100%;
    margin-bottom: 60px;
  }
  .card__title {
    font-size: 18px;
  }
  .card__summary {
    font-size: 14px;
  }
  .prototype_image{
    width: 100%;
  }
  .table{
    width: 100%;
  }
}