/* リセットCSS */
/* ユーザーページ */
.collection-inner {
  min-height: calc(100vh - 430px);
  display: flex;
  justify-content: space-around;
  
  text-align: left;
  background: url('unnamed.jpg');
  background-size: cover;
  background-position: top ;
  flex-direction: column;
  padding: 5vh 15vw;
  color: #fff;
  text-shadow: 0 0 20px rgba(0, 0, 0, 1);
}

.collection-heading {
  width: calc(100vh - 100px);
  min-height: 30%;
  font-size: 30px;
  font-family: 'Corben', cursive;
}


.user__card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  
}
/*ログインページ*/
.session__inner {
  height: 100vh;

}
.session__wrapper {
  margin-left: 20%;

}
.login-heading {
  text-shadow:  0 0 1.5px rgba(0, 0, 0, 0.9);
  font-size: 30px;
  width: 300px;
  margin-top: 50px;
}

