/* リセットCSS */
/* collectionページ */

/*logo周辺部分*/
.show__main {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: url('whitediamond.png')!important;
}
.show-movies-header {
  padding: 2vh 0;
  text-align: center;
}
.collection-heading {
  font-size: 25px;
  font-family: 'Corben', cursive;
  text-align: center;
  height: 5vh;
  
}
/*collection部分*/
.main-inner {
  width: 80vw;
  min-height: 200vh;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  padding-left: 10px;
  background-color:black!important;
  
}
.show__card__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  min-height: calc(100vh - 161px);
  min-width: 100%;
}
.show__card {
  width: calc((100% - 40px) / 4);
  margin-bottom: 40px;
  padding-top: 40px;
  
}
.show__card__title {
  display: block;
  font-size: 14px;
  margin-bottom: 8px;
  font-weight: bold;
  text-decoration-line: underline;
  color: #f8f8f8;
  padding-left: 15px;
}
.show__card__img {
  margin-bottom: 16px;
  object-fit: contain;
  height: 250px;
  width: 250px;
  margin: 5px;
}
.show__card__img:hover {
  transform: perspective(500px) translateZ(150px);
}

/*watchリストページ*/
.likes-heading {
  width: 100%;
  font-size: 25px;
  font-family: 'Corben', cursive;
  padding-top: 20px;
  padding-left: 20px;
  height: 7vh;
  
}

.user__card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  
}
/*ログインページ*/
.session__inner {
  height: 100vh;

}
.session__wrapper {
  margin-left: 20%;

}
.login-heading {
  text-shadow:  0 0 1.5px rgba(0, 0, 0, 0.9);
  font-size: 30px;
  width: 300px;
  margin-top: 50px;
}
.account__form__btn {
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
  border-radius: 3px;
  border: 0px;
  padding-left: 10px;
  padding-right: 13px;
  margin-right: 20px;
  height: 20px;
  width:fit-content;
  font-size: 14px;
}
.account__form__btn:hover {
  color: #fff;
  background: #a5d1ec;

}

.form__wrapper{
  min-height: calc(100vh - 161px);
}

.form__text {
  width: 50%;
}

.form__btn {
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
  border-radius: 3px;
  border: 0px;
  padding-left: 10px;
  padding-right: 13px;
  margin-right: 20px;
  height: 20px;
  width:fit-content;
  font-size: 14px;

}
.form__btn:hover {
  color: #fff;
  background: #a5d1ec;
  
}
.field{
  margin: 10px 0;
}

.actions{
  margin-bottom: 40px;
  display: flex;
  justify-content:flex-start;
  align-items:flex-end;
  
}
.main {
  background: #f8f8f8;
}             
/*アカウント退会*/
.un__account__form__btn {
  background-color:tomato;
  color: #fff;
  border-radius: 3px;
  border: 1px solid red;
  padding-left: 10px;
  padding-right: 13px;
  margin-right: 20px;
  height: 20px;
  width:fit-content;
  font-size: 14px;
  

}
.un__account__form__btn:hover {
  background-color: red;
  color:snow;
  font-weight: bolder;
}
/*adominbtn*/
.make__room {
  color: tomato;
  font-weight: bolder;
  text-decoration: underline;
  
}
/* タブレット表示 */
@media (max-width: 960px) {
  
  
  .show__card {
    width: calc((100% - 50px) / 3);
    margin-bottom: 40px;
    padding-top: 40px;
    
    
  }

  .collection-heading {
    height: 8vh;
  }  
    
}  
/* スマホ表示 */
@media (max-width: 520px) {
  .collection-heading {
    font-size: 15px;
    padding-top: 10px;
    height: 8vh;
    
  }
  
  
  .show__card {
    width: calc((100% - 5px) / 2);
    margin-bottom: 0px;
    
    
  }
  .show__card__img {
    margin-left: 15px;
    width: 80%;
    
    
  }
  .root_logo {
    margin-left: 50px;
  }
}  